<div class='col-lg-4 bannerChar'>

</div>
<div class='col-lg-4 col-lg-offset-2 createCharacter'>
  <form>
  <fieldset class="form-group">
    <label for="species">Select Species:</label>
    <select class="form-control" id="sel1" ng-model='ic.species'>
      <option>Hutt</option>
      <option>Yoda</option>
      <option>Trandoshan</option>
      <option>Mon Calamari</option>
      <option>Ewok</option>
      <option>Sullustan</option>
      <option>Gungan</option>
      <option>Toydarian</option>
      <option>Dug</option>
      <option>Neimoidian</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="species">Home Planet:</label>
    <select class="form-control" id="sel1" ng-model='ic.planet'>
      <option>Alderaan</option>
      <option>Bespin</option>
      <option>Dagobah</option>
      <option>Endor</option>
      <option>Geonosis</option>
      <option>Hoth</option>
      <option>Kamino</option>
      <option>Naboo</option>
      <option>Yavin IV</option>
      <option>Coruscant</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="species">Starship:</label>
    <select class="form-control" id="sel1" ng-model='ic.starship'>
      <option>Sentinel-class Landing Craft</option>
      <option>Death Star</option>
      <option>Millenium Falcon</option>
      <option>Y-wing</option>
      <option>X-wing</option>
      <option>TIE Advanced x1</option>
      <option>Executor</option>
      <option>Slave 1</option>
      <option>Imperial Shuttle</option>
      <option>EF76 Nebulon-B</option>
    </select>
  </fieldset>
  <button class="addQuote" class="btn btn-info" id='landingBtn'>
    <a class='btnLink' href='#/leaveGalaxy' ng-click='ic.go()'>Leave Galaxy</a>
  </button>
  </form>
</div>
