<div class='col-lg-5 galaxyDisplay'>
  <h1 class='galaxyHeader'>{{ ic.species }}</h1>
  <ul class='species'>
    <li>Class: {{ ic.class }}</li>
    <li>Life Span: {{ ic.life }}</li>
    <li>Language: {{ ic.lang }}</li>
  </ul>
</div>
<div class='col-lg-5 galaxyDisplay'>
  <h1 class='galaxyHeader'>{{ ic.planet }}</h1>
  <ul class='planet'>
    <li>Climate: {{ ic.climate }}</li>
    <li>Gravity: {{ ic.gravity }}</li>
    <li>Terrain: {{ ic.terrain }}</li>
  </ul>
</div>
<div class='col-lg-5 galaxyDisplay'>
  <h1 class='galaxyHeader'>{{ ic.starship }}</h1>
  <ul class='species'>
    <li>Class: {{ ic.shipClass }}</li>
    <li>Length: {{ ic.shipLength }}</li>
    <li>Crew Capacity: {{ ic.shipCrew }}</li>
  </ul>
</div>
