<div class='col-lg-5 galaxyDisplay'>
  <h1 class='galaxyHeader'>{{ ic.species }}</h1>
  <ul class='species'>
    <li>{{ ic.class }}</li>
    <li>{{ ic.life }}</li>
    <li>{{ ic.lang }}</li>
  </ul>
</div>
<div class='col-lg-5 galaxyDisplay'>
  <h1 class='galaxyHeader'>{{ ic.planet }}</h1>
  <ul class='planet'>
    <li>{{ ic.climate }}</li>
    <li>{{ ic.gravity }}</li>
    <li>{{ ic.terrain }}</li>
  </ul>
</div>
<div class='col-lg-5 galaxyDisplay'>
  <h1 class='galaxyHeader'>{{ ic.starship }}</h1>
  <ul class='species'>
    <li>{{ ic.shipClass }}</li>
    <li>{{ ic.shipLength }}</li>
    <li>{{ ic.shipCrew }}</li>
  </ul>
</div>
