@font-face {
  font-family: 'StarWars';
  src: url('/fonts/STARWARS.ttf');
}

body {
  background: url('/images/starSky.jpg');
  font-family: StarWars;
}

.landing {
  min-height: 40em;
  height: 100%;
  width: 100%;
}

.landingContainer {
  margin-top: 10%;
  text-align: center;
}

.landingBtn {
  border: 2px solid #000000;
  background-color: transparent;
  color: yellow;
  padding: 3%;
  font-size: 3.5em;
}

.landingBtn:hover {
  border: none;
  background: #000000;
  color: yellow;
}

.landingBtn:active, .landingBtn:visited {
  border: none;
  background-color: transparent;
  color: white;
}

#landingBtn {
  border: none;
  background-color: transparent;
}

#landingBtn:hover {
  background-color: black;
  color: white;
  padding: 5%;
}

.bannerChar {
  background: url('/images/starWarsBanner.jpg') no-repeat;
  background-size: contain;
  min-height: 40em;
  height: 100%;
  margin-left: 5%;
}

.createCharacter {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 15%;
  font-size: 2em;
  color: yellow;
}

.wiseOne {
  background: url('/images/yoda.png') no-repeat right;
  min-height: 30em;
}
